:root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}
*{
  /* margin: 0;
  padding: 0; 
  text-decoration: none;*/
}
/* --------------------------------------components/Siderbar.jsx------------------------------------- */
.container{
  height: 100%;
  width: 100%;
  /* background: #a8dddf; */
  /* border: 1px solid green; */
  /* border-radius: 15px; */
}
.container-grid{
  display: grid;
  grid-template-columns:repeat(20,1fr);
  height: 100%;
  width: 100%;
  /* gap: 0.5rem; */
  /* background: #bce5d8; */
  /* border: 1px solid #fca61f; */
  /* overflow: auto;
  justify-content: center; */
}
/* --------------------------------------sidebar-------------------------------------- */
.sidebar{
  margin-left: 10%; 
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  color:#fff;
  background: #78C1F3;
  overflow: hidden;
  border-radius: 20px;
  /* margin-right: 50%;  */
  /* height: 100%; */
  /* min-height: 100%; */
  /* width: 80%; */
  /* background:rgba(161, 161, 161, 0.54); */
  /* border: 1px solid black; */
  /* flex-direction: column; */
  /* box-shadow: 5px 5px 15px 5px rgba(50, 50, 50, .5); */
  /* justify-content: space-around; */
  /* border-radius: 2rem; */
  /* overflow: hidden; */
  /* position: sticky; */
  /* top: 0; */
  /* display: flex;
  flex-direction: column; */
  /* width: 20%; */
  /*color: white; */
  /* background: linear-gradient(10deg, #810551, #05454d); */
  /* padding: 5px 10px; */
}
.sidebar-grid{
  display: grid;
  grid-template-rows: repeat(10,1fr);
  width: 100%;
  height: 100%;
  /* background: rgb(122, 129, 163); */
  /* align-items: center;
  justify-content: center; */
}
.top_section{
  display: flex;
  align-items: center;
  justify-items: center;
  /* background: #bce5d8; */
  /* justify-content: flex-start;
  align-items: flex-start; */
  /* padding-top: 20px;
  padding-left: 20px; */
}
.logo{
  display: flex;
  font-weight: bold;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}
/*.list{
  background: #dcf8ef;
  height: 100%;
  width: 100%;
  overflow: hidden;
} */
.menuItem:hover {
  cursor: pointer;
}
/* .menu .menuItem:last-child {
  position: absolute;
  bottom: 2.3rem;
  width: 100%;
  
} */
.link {
display: flex;
align-items: center;
justify-content: center;
overflow: auto;
/* background: rgb(208, 213, 207);    */
}
/* .item:after{
  content: "aaa";
display: flex;
align-items: center;
justify-content: center;
overflow: auto;
background: rgb(63, 156, 45);
} */
/* .link {
  background: rgb(109, 47, 232);
  } */
.active {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  transition:all .4s ease-out;
  height: 100%;
/* background:rgba(255, 255, 255, 0.54);  */
/* opacity: 0; */
}
/* .link:hover {
transform: translateX(-20px);
} */
/*  */
/* .active:hover {
	transform: translateX(-20px);
} */
/* .active:hover:after {
  opacity: 1;
	transform: perspective(400px) rotateY(0deg) scale(1) ;
} */
/* .active::before {
  content: "fgh";
  width: 8px;
  height: 100%;
  background: #08a06d;
} */
.active .item{
  /* display: grid;
  grid-template-columns: repeat(2,1fr); */
  width: 70%;
  height: 70%;
  justify-content: center;
  align-items: center;
  background:rgba(161, 161, 161, 0.54);
  border-radius: 20px;
  /* transition:all .1s; */
}
/* .text{
  font-size: 20px;
  color: #000000;
align-items: center;
justify-content: center;
display: flex;
width: 100%;
overflow: hidden;
height: 100%;
  background: #b8c4ea;
  height: 100%;
} */
/* .text:active{
  font-size: 20px;
  color: #000000;

align-items: center;
justify-content: center;
display: flex;
width: 100%;
overflow: hidden;
height: 100%;
  background: #0132d1;
  height: 100%;
} */
/* .icon::after{
  content: "aaa";
  background: rgb(78, 0, 13);

} */
.icon ,.link_text,text{
  font-size: 35px;
  color: #ffffff;
  /* background: pink; */
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
/* 
.container{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
} */
/* --------------------------------------sidebar-------------------------------------- */

/* --------------------------------------main-------------------------------------- */
.main{
  display: flex;
  grid-column-start: 3;
  grid-column-end: 20;
  overflow: hidden;
  justify-content: end;
  /* border: 1px solid green; */
  /* margin: 5% 5%; */
  /* width: 100%;
  height: 100%; */
  /* padding: 10%; */
  /* background: var(--glass); */
  /* border-radius: 15px; */
  /* position: relative; */
  /* overflow-x: scroll;
  scrollbar-width: thin;
  overflow-y: scroll; */
  /* scrollbar-width: thin; */
}
.container-main{
  display:flex;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  /* border: 1px solid rgb(229, 229, 229); 
  background: rgb(220, 221, 226); */
}
/* --------------------------------------main-------------------------------------- */

/* --------------------------------------container-------------------------------------- */

/* --------------------------------------components/Siderbar.jsx------------------------------------- */