:root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}

*{
  /* margin: 0;
  padding: 0; */
  text-decoration: none;
}

.container{
  display: flex;
  height: 100%;
  /* width: 20px; */
  /* border: 1px solid green; */
  justify-content: space-between;
  overflow: auto;
  /* border-radius: 15px; */

}
.main{
  width: 90%;
  /* padding: 10%; */
  background: var(--glass);
  border-radius: 15px;
  overflow: hidden;
  /* display: flex; */
  border: 1px solid green;
  /* position: relative; */
  /* overflow-x: scroll;
  scrollbar-width: thin;
  overflow-y: scroll; */
  /* scrollbar-width: thin; */

  
}
.sidebar{
  border: 1px solid green;
 background: #bce5d8;
   color:#fff;
   border-radius: 15px;
 /* display: flex; */
 flex-direction: column;

 width: 10%;
 /* justify-content: space-around; */
 /* border-radius: 2rem; */
 /* overflow: hidden; */
 
  /* position: sticky; */
  /* top: 0; */
  /* display: flex;
  flex-direction: column; */
  /* width: 20%; */
 min-height: 100%;
overflow: hidden;
    /*color: white; */
  /* background: linear-gradient(10deg, #810551, #05454d); */
  /* padding: 5px 10px; */

}
.top_section{
  display: flex;
  background: #bce5d8;


  /* justify-content: flex-start;
  align-items: flex-start; */
  padding-top: 20px;
  padding-left: 20px;
  align-items: center;
  justify-items: center;

}
.logo{
  display: flex;

  font-weight: bold;
  font-size: 30px;

  align-items: center;
  justify-content: center;



}
.menuItem:hover {
  cursor: pointer;
}

.menu .menuItem:last-child {
  position: absolute;
  bottom: 2.3rem;
  width: 100%;
}

.active {
  background:  #cce6dd; ;
  /* background: pink; */
  margin-left: 0;
  
}
.active::before {
  content: "";
  width: 8px;
  height: 100%;
  /* background: #9bd0bf; */
  background: #08a06d;
  margin-right: calc(1rem - 8px);
}


.bars{
  display: flex;
  margin-left: 50px;
  font-size: 25px;
}
.link{
  display: flex;
  color: white;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5;

}
.link:hover{
  /* background:var(--glass); */
  color:black;
  background:rgb(191, 235, 225);
  /* content: "";
  position: absolute;
  right: 0;
  top:-50;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px white; */
}

.icon ,.link_text{
  font-size: 20px;
}
