:root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0.5rem 0.5rem;
  color: var(--black);
  background: #F5FCFF;
  align-items: center;
  /* grid-template-rows: 10vh 80vh 10vh; */ 
  /* background: linear-gradient(106.37deg,#dcf8ef 29.63%,  #fee2f8 51.55%); */
  /* align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif; */
}
/*-------------------------------------- App.js-------------------------------------- */
.AppGlass {
  margin: 3.5rem 3.5rem;
  display: flex;
  height: 100%;
  width: 100%;
  background: #eff2f9;
  border: 1px solid rgb(255, 255, 255); 
  border-radius: 20px;
  box-shadow: 5px 5px 15px 5px rgba(50, 50, 50, .5);
  /* overflow: auto;
  justify-content: center;
  background: linear-gradient(106.37deg,#dcf8ef 29.63%,  #fee2f8 51.55%); */
}
.AppGlass-grid{
  padding: 0.5rem 0.5rem;
  display: grid;
  grid-template-rows: 100vh;
  height: 100%;
  width: 100%;
  /* background: #2acbd0; */
  /* border: 1px solid green; */
}
/* --------------------------------------App.js/AppGlass-------------------------------------- */
.header{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* background: #02bec5; */
  /* border: 1px solid green; */
}
.header h4{
  color: #000000;
}
/* --------------------------------------App.js/header------------------------------------- */

/* --------------------------------------components/Siderbar.jsx------------------------------------- */
.container{
  height: 100%;
  width: 100%;
  /* background: #a8dddf; */
  /* border: 1px solid green; */
  /* border-radius: 15px; */
}
.container-grid{
  display: grid;
  grid-template-columns:repeat(20,1fr);
  height: 100%;
  width: 100%;
  /* gap: 0.5rem; */
  /* background: #bce5d8; */
  /* border: 1px solid #fca61f; */
  /* overflow: auto;
  justify-content: center; */
}
/* --------------------------------------sidebar-------------------------------------- */
.sidebar{
  margin-left: 10%; 
  /* margin-right: 50%;  */
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  color:#fff;
  background: #78C1F3;
  overflow: hidden;
  border-radius: 20px;
  /* height: 100%; */
  /* min-height: 100%; */
  /* width: 80%; */
  /* background:rgba(161, 161, 161, 0.54); */
  /* border: 1px solid black; */
  /* flex-direction: column; */
  /* box-shadow: 5px 5px 15px 5px rgba(50, 50, 50, .5); */
  /* justify-content: space-around; */
  /* border-radius: 2rem; */
  /* overflow: hidden; */
  /* position: sticky; */
  /* top: 0; */
  /* display: flex;
  flex-direction: column; */
  /* width: 20%; */
  /*color: white; */
  /* background: linear-gradient(10deg, #810551, #05454d); */
  /* padding: 5px 10px; */
}
.sidebar-grid{
  display: grid;
  grid-template-rows: repeat(10,1fr);
  width: 100%;
  height: 100%;
  /* background: rgb(122, 129, 163); */
  /* align-items: center;
  justify-content: center; */
}
.top_section{
  display: flex;
  align-items: center;
  justify-items: center;
  /* background: #bce5d8; */
  /* justify-content: flex-start;
  align-items: flex-start; */
  /* padding-top: 20px;
  padding-left: 20px; */
}
.logo{
  display: flex;
  font-weight: bold;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}
/*.list{
  background: #dcf8ef;
  height: 100%;
  width: 100%;
  overflow: hidden;
} */
.menuItem:hover {
  cursor: pointer;
}
/* .menu .menuItem:last-child {
  position: absolute;
  bottom: 2.3rem;
  width: 100%;
} */
.link {
display: flex;
align-items: center;
justify-content: center;
overflow: auto;
/* background: rgb(208, 213, 207);    */
}
/* .item:after{
  content: "aaa";
display: flex;
align-items: center;
justify-content: center;
overflow: auto;
background: rgb(63, 156, 45);
} */
/* .link {
  background: rgb(109, 47, 232);
  } */
.active {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  transition:all .4s ease-out;
  height: 100%;
/* background:rgba(255, 255, 255, 0.54);  */
/* opacity: 0; */
}
/* .link:hover {
transform: translateX(-20px);
} */
/*  */
/* .active:hover {
	transform: translateX(-20px);
} */
/* .active:hover:after {
  opacity: 1;
	transform: perspective(400px) rotateY(0deg) scale(1) ;
} */
/* .active::before {
  content: "fgh";
  width: 8px;
  height: 100%;
  background: #08a06d;
} */
.active .item{
  /* display: grid;
  grid-template-columns: repeat(2,1fr); */
  width: 70%;
  height: 70%;
  justify-content: center;
  align-items: center;
  background:rgba(161, 161, 161, 0.54);
  border-radius: 20px;
  /* transition:all .1s; */
}
/* .text{
  font-size: 20px;
  color: #000000;
align-items: center;
justify-content: center;
display: flex;
width: 100%;
overflow: hidden;
height: 100%;
  background: #b8c4ea;
  height: 100%;
} */
/* .text:active{
  font-size: 20px;
  color: #000000;

align-items: center;
justify-content: center;
display: flex;
width: 100%;
overflow: hidden;
height: 100%;
  background: #0132d1;
  height: 100%;
} */
/* .icon::after{
  content: "aaa";
  background: rgb(78, 0, 13);

} */
.icon ,.link_text,text{
  font-size: 35px;
  color: #ffffff;
  /* background: pink; */
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
/* 
.container{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
} */
/* --------------------------------------sidebar-------------------------------------- */

/* --------------------------------------main-------------------------------------- */
.main{
  display: flex;
  grid-column-start: 3;
  grid-column-end: 20;
  overflow: hidden;
  justify-content: end;
  /* border: 1px solid green; */
  /* margin: 5% 5%; */
  /* width: 100%;
  height: 100%; */
  /* padding: 10%; */
  /* background: var(--glass); */
  /* border-radius: 15px; */
  /* position: relative; */
  /* overflow-x: scroll;
  scrollbar-width: thin;
  overflow-y: scroll; */
  /* scrollbar-width: thin; */
}
.container-main{
  display:flex;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  
}
/* --------------------------------------main-------------------------------------- */

/* --------------------------------------container-------------------------------------- */

/* --------------------------------------components/Siderbar.jsx------------------------------------- */
.footer{
  display: flex;
  height: 100%;
  width: 100%;
  /* background: #c5e7e8; */
  /* border: 1px solid green; */
}
.footer h4{
  color: #000000;
}
/* --------------------------------------page/home------------------------------------- */
.container-home{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  grid-template-rows: repeat(10,1fr);
  /* border: 1px solid rgb(229, 229, 229); */
  /* background: rgb(220, 221, 226);  */
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  padding: 10px 10px;
}
.link-home{
  grid-row-start: 2;
  grid-row-end: 4;
}
.btn-home{
  height: 100%;
  width: 100%;
  /* background: rgba(161, 161, 161, 0.54); */
  border-radius: 20px;
  border: none;
  background: #b8dff8;
  box-shadow:    -10px -10px 15px rgba(255, 255, 255, 0.5),
  10px 10px 15px rgba(70, 70, 70, 0.12);
  /* box-shadow: 5px 5px 15px 5px rgba(50, 50, 50, .5); */
  color: 0;
  font-weight: bold;
  font-size: xx-large;
  opacity: 0.75;
  overflow: hidden;
}
.btn-home:nth-last-child(){
  display: flex;
  background: red;
  overflow: hidden;
}
.btn-home:hover{
  background: #cdf3ff;
  box-shadow: 
  -10px -10px 15px rgba(255, 255, 255, 0.5),
  10px 10px 15px rgba(70, 70, 70, 0.12),
  inset -10px -10px 15px rgba(255, 255, 255, 0.5),
  inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
.btn-home:nth-child(2){
  background: #000000;
}

/* --------------------------------------page/home------------------------------------- */

/* --------------------------------------page/course------------------------------------- */
.container-course{
  display: grid;
  grid-template-rows: repeat(10,1fr);
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* border:1px solid #d85b0d; */
}
.titel{
  display: flex;
  grid-row-start: 1;
  grid-row-end: 2;
  align-items: center;
  /* display: flex;
  grid-column-start: 3;
  grid-column-end: 20; */
}
.container-form{
  display: flex;
  grid-row-start: 2;
  grid-row-end: 11;
  width: 100%;
  overflow: hidden;
  /* border:1px solid #44e81c; */
}
.form-grid{
  display: grid;
  grid-template-rows: repeat(9,1fr);
  width: 100%;
  height: 100%;
  gap: 10px;
  /* border:1px solid #2a07d5; */
  border-radius: 20px;
  overflow: hidden;
}
.input-box{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  border-radius: 20px;
  background: rgba(161, 161, 161, 0.54);
  padding: 15px;
  align-items: center;
  /* border:1px solid #2a07d5; */

}
.text-box{
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  border: none;
  height: 30px;
  width:200px;
  /* width: 100%; */
  /* box-sizing: 60px; */
  padding-left:10px;
  overflow: hidden;
  margin-top: 5px;
  /* margin-left: 5px; */
  margin-bottom: 10px;
  opacity: 0.5;
}
/* .btn-course{
  border-radius: 20px;
  height: 30px;
  width:200px;
}
.btn-course:active{
background: rgb(193, 255, 215);
} */
/* .btn-course::hover{
  background: rgb(158, 158, 158);
  } */
/* .label-text{
  font-size: 25px;
}
.tabel-box{
  border-radius: 20px;
  background: rgba(161, 161, 161, 0.54);
  padding: 15px;
  height: 100vh;
  overflow-x: scroll;
  scrollbar-width: thin;
  overflow-y: scroll;
  overflow: auto;
} */
/* .tabel-box{
  display: flex;
  grid-row-start: 2;
  grid-row-end: 11;

} */
/* .table{
  display: flex;
  grid-row-start: 5;
  grid-row-end: 8;
  background: #BB67FF;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
table{
  width:100%;
  
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;    
} */
/* --------------------------------------page/course------------------------------------- */

/* --------------------------------------page/subject------------------------------------- */
.container-subject{
  
}
/* --------------------------------------page/subject------------------------------------- */
.header .container {
  justify-content: center;
}
.input-group-text {
  background-color: #212529;
  color: #fff;
  font-weight: bold;
}
.edit,
.delete {
  padding: 0px 6px;
  border-radius: 2px;
}

.edit {
  margin-right: 10px;
}
table {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .mb-3{
  width: 100%;
  display: flex;
  background: #242d49;
} */